html {
  width: 100%;
  height: 100%;
  background: url('flagbackground.png) center center repeat;
  background-size: 2em;
  /*background-image: url(flagbackground.png);*/
  /*background-size: 100% 100%;*/
  cursor:url(snailcursor.png), auto;
}

.header {
  position: relative;
  margin: auto;
  width: fit-content;
  margin-top: 1%;
}

.snails {
  margin: auto;
  padding-top: 40px;
  width: fit-content;
}

.title {
  text-align: center;
  font-family: sans-serif;
}

.smokesnail {
  margin: auto;
  height: 128px;
  width: auto;
}

.snailrow1 {
  padding-bottom: 20px;
}

.snail1, .snail2 {
  height: 512px;
  width: 512px;
  border: 1px;
  padding-left: 10px;
  padding-right: 10px;
  transition-property: scale;
  transition-duration: 20ms;
}

.snail1:hover, .snail2:hover {
  scale: 105%;
}

.footer {
  bottom: 90%;
  margin: auto;
}

.smokingnsnailButton {
  width: 160px;
  padding: 0;
  border: none;
  background: none;
}

