html {
    font-family: "Cascadia Mono";
    font-smooth: never;
    -webkit-font-smoothing : none;
    color: white;
    background-image: url("assets/wavesmonocolorREDcrop.gif");
    cursor: url("assets/cursorsmall.png") 0 0, auto;
    /*background-color: #17171a;*/
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    padding-top: 1vh;
}

a:hover {
    cursor: url("assets/handcursor.png") 13 4, pointer;
}
#emailcopybutton:hover {
    cursor: url("assets/handcursor.png") 13 4, pointer;
}
#discordcopybutton:hover {
    cursor: url("assets/handcursor.png") 13 4, pointer;
}

.main {
    /*background-image: url("assets/wavesmonocolorcrop.gif");
    background-size: 100vw 100vh;*/
    background-color: #17171a;
    margin: auto;
    width: fit-content;
    border:5px solid #e2d69a;
    /*box-shadow: -5px -5px 5px #17171a;*/
}

.banner {
    background-color: #17171a;
    border-bottom:5px solid #e2d69a;
}

#bannerimg {
    text-align: center;
    width: 800px;
    user-select: none;
    -webkit-user-drag: none;
}

.content {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.leftsubheader {
    text-align: center;
    color: #17171a;
    background-color: #e2d69a;
    border-bottom:5px solid #e2d69a;
    border-top: solid#e2d69a;
}

.left {
    background-color: #17171a;
    margin-right: auto;
    text-align: left;
    width: 48.5%;
    border:5px solid #e2d69a;;
    color: #e2d69a;
}

.leftcontent {
    padding-left: 10%;
}

:link {
    color: #e2d69a;
}

#twitchlink {
    display: inline;
    white-space: nowrap;
}

.rightsubheader {
    text-align: center;
    color: #17171a;
    background-color: #e2d69a;
    border-bottom:5px solid #e2d69a;
    border-top: solid#e2d69a;
}

.right {
    background-color: #17171a;
    margin-left: auto;
    text-align: left;
    width: 48.5%;
    border:5px solid #e2d69a;
    color: #e2d69a;
}

.rightcontent {
    font-size: 12px;
    width: 365px;
    padding-left: 5%;
    word-wrap: break-word;
}

.contactborder {
    padding: 5px;
}

.contactcontainer {
    background-color: #17171a;
    border:5px solid #e2d69a;
}

.contactheader {
    text-align: center;
    background-color: #e2d69a;
    border-top: 1px solid #e2d69a;
    color: #17171a;
    border-bottom: 1px solid #e2d69a;
}

#mdni {
    border: 0px;
    padding: 0px;
    margin-top: -20px;
    position: relative;
}

.contactcontentcontainer {
    color: #e2d69a;
}

.contactcontent {
    padding-left: 10%;
    text-align: left;
}

.newsborder {
    border-top: 5px solid #e2d69a;
    background-color: #17171a;
    background-image: url("assets/wavesmonocolorcrop.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 1px solid #e2d69a;
}

.newscontent {
    color: #17171a;
    text-align: center;
}

#checkoutlink {
    color: #17171a;
}
